<h1>Sub</h1>
<%= @sub.title %>
<%= @sub.description %>

<a href="<%= subs_url %>">Back to All Subs</a>

<ul>
  <% @sub.posts.each do |post| %>
    <li>
      <a href="<%= post_url(post) %>"><%= post.title %></a>
    </li>
  <% end %>
</ul>